{% extends 'core/panel.html' %}

{% block title %}Spotkania{% endblock %}

{% load list_events %}

{% block panel_content %}
    <div class="w-full overflow-auto">
        <div class="flex flex-col items-center">
            <h1 class="text-4xl font-bold my-8">Spotkania gwardii</h1>
            <p class="italic text-xs text-gray-500 mb-6">Kliknij w dane spotkanie, by wyświetlić jego opis</p>
            <div class="w-3/4" id="future-meetings-container">
                {% list_events upcoming_meetings "Nadchodzące" %}
            </div>
            <div class="w-3/4 hidden" id="archival-meetings-container">
                {% list_events archival_meetings "Archiwalne" %}
            </div>
            <button class="text-bold border-2 border-solid p-2 rounded-lg mt-8 border-gray-500" id="archival-meetings-toggle">
                Pokaż spotkania archiwalne
            </button>
        </div>
    </div>
    <script>
        const nextMeetingsContainer = document.querySelector('#future-meetings-container').lastElementChild;
        nextMeetingsContainer.addEventListener('click', (event) => displayDescription(event.target));

        const archivalMeetingsContainer = document.querySelector('#archival-meetings-container');
        archivalMeetingsContainer.addEventListener('click', (event) => displayDescription(event.target));

        const archivalMeetingsToggle = document.querySelector('#archival-meetings-toggle');
        archivalMeetingsToggle.addEventListener('click', displayArchivalMeetings);

        function displayDescription(clickedElement) {
            clickedElement = clickedElement.closest('.js-meeting-container')
            const meetingDescription = clickedElement.lastElementChild;
            document.querySelectorAll('.js-meeting-description').forEach((descriptionElement) => {
                if (descriptionElement === meetingDescription) {
                    return;
                }
                if (!descriptionElement.classList.contains('hidden')) {
                    descriptionElement.classList.add('hidden');
                }
            })
            meetingDescription.classList.toggle('hidden');
        }
        function displayArchivalMeetings() {
            archivalMeetingsContainer.classList.toggle('hidden');
            const is_hidden = archivalMeetingsContainer.classList.contains('hidden');

            archivalMeetingsToggle.innerText = is_hidden ? 'Pokaż spotkania archiwalne' : 'Ukryj spotkania archiwalne';
        }
    </script>
{% endblock %}
