{% extends 'core/base.html' %}

{% block content %}
<div class="w-full h-80vh my-28 flex flex-col items-center justify-center space-y-8">
    <div class="size-1/4">
    <img src="https://cdn.discordapp.com/attachments/804080757127643166/1236108517660954724/shdhhd.png?ex=6636cf44&is=66357dc4&hm=e91d54c2da90de728bf682bc19605d325509176b2a08633931d8bda696f7fba2&">
    </div>
    <div class="flex flex-col items-center justify-center">
        <p class="text-7xl text-gray-600 font-dark font-extrabold mb-8">500</p>
        <p class="text-2xl font-light leading-normal mb-8">Ojej, coś jest nie tak z naszym serwerem :(</p>
    </div>
</div>
{% endblock %}
