{% extends 'core/base.html' %}

{% block content %}
<div class="w-full h-80vh my-28 flex flex-col items-center justify-center space-y-8">
    <div class="size-1/4">
        {% load static %}
        <img src="{{image}}" alt="Error image"/>
    </div>
    <div class="flex flex-col items-center justify-center">
        <p class="text-7xl text-gray-600 font-dark font-extrabold mb-8">{{error_id}}</p>
        <p class="text-2xl font-light leading-normal mb-8">{{ description }}</p>
    </div>
</div>
{% endblock %}
