{% extends 'core/base.html' %}

{% block content %}
<div class="w-full h-80vh my-28 flex flex-col items-center justify-center space-y-8">
    <div class="size-1/4">
    <img src='https://cdn.discordapp.com/attachments/804080757127643166/1236116899935551549/NIGER.png?ex=6636d712&is=66358592&hm=f5c1b4fc0d3323602bd56e69f7ac2b3fc187d58f24d340bf54ceb540fad62688&'>
    </div>
    <div class="flex flex-col items-center justify-center">
        <p class="text-7xl text-gray-600 font-dark font-extrabold mb-8">500</p>
        <p class="text-2xl font-light leading-normal mb-8">Ojej, coś jest nie tak z naszym serwerem :(</p>
    </div>
</div>
{% endblock %}
