{% load i18n %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GwardiaHub | {% block title %}{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        {% load static %}
        <script src="{% static "tailwind_custom_styles.js" %}"></script>
        <script src="https://unpkg.com/starback@2.1.1/dist/starback.global.js"></script>

        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body class="bg-black text-white">
        <main>
            {% language 'pl-pl' %}
            {% block content %}
            {% endblock %}
            {% endlanguage %}
        </main>
    </body>
</html>