{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Gwardia Czapli">
        <meta property="og:description" content="We are learning programming, scripting, website designing and more!">
        <meta property="og:url" content="https://gwardiahub.fly.dev/">
        <meta property="og:image" content="{% static 'images/favicon.png' %}">
        <meta name="theme-color" content="#111827">

        <title>GwardiaHub | {% block title %}{% endblock %}</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <script src="{% static "tailwind_custom_styles.js" %}"></script>

        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

        {% block head %}
        {% endblock %}
    </head>
    <body class="bg-gray-900 text-gray-50">
        <main class="flex flex-col h-screen w-screen">
            {% language 'pl-pl' %}
                {% block content %}
                {% endblock %}
            {% endlanguage %}
        </main>
    </body>
</html>