{% extends 'core/base.html' %}

{% block title %}Strona Główna{% endblock %}

{% block content %}
    <div class="flex flex-col flex-nowrap items-start">
        <h1 class="text-4xl text-header_text font-bold underline mt-10 mb-16 self-center">Gwardia Hub</h1>
        <div class="flex flex-col flex-nowrap items-start ml-20">
            <h2 class="text-3xl text-header_text -ml-4">Cel projektu</h2>
            <p class="text-baseline mt-4">Celem naszego projektu jest stworzenie strony internetowej z trzema modułami:</p>
            <ol class="text-baseline mt-4 ml-4 list-decimal list-inside">
                <li>Moduł dla naszej klasy z przydatnymi na co dzień szkolnymi informacjami</li>
                <li>Moduł dla Gwardii Czapli z informacjami na temat spotkań i zadań</li>
                <li>Moduł dla graczy Genshin Impact z 1 z TBD</li>
            </ol>
        </div>
    </div>
{% endblock %}