{% extends 'core/base.html' %}

{% block title %}Strona Główna{% endblock %}

{% block head %}
    <script src="https://unpkg.com/starback@2.1.1/dist/starback.global.js"></script>
    <script type="module">
        const canvas = document.getElementById('starback-bg');
        const starback = new Starback(canvas, {
            type: 'dot',
            quantity: 250,
            height: window.innerHeight,
            width: window.innerWidth,
            backgroundColor: [],
            randomOpacity: true,
        });
        function resizeCanvas() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
        }
    
        window.addEventListener('resize', resizeCanvas);
    </script>
{% endblock %}

{% block content %}
    <canvas id="starback-bg" class="fixed -z-[1]"></canvas>

    <div class="z-1 relative flex flex-col items-center justify-center h-5/6 text-center">
        <span>Strona internetowa, która ma służyć pomocą szkolną oraz efektywnym zarządzaniem aktywnościami Gwardii.</span>
        <span class="font-bold">W trakcie programowania!</span>
    </div>
{% endblock %}

{% block navbar_links %}
    <li>
        <a href="{% url 'gwardia:index' %}" class="mr-5 text-gray-300 hover:underline" aria-current="page">Gwardia</a>
    </li>
{% endblock %}