{% extends 'core/base.html' %}

{% block title %}Strona Główna{% endblock %}

{% block head %}
<script>
    const canvas = document.getElementById('starback-bg');
    const starback = new Starback(canvas, {
        type: 'dot',
        quantity: 250,
        height: window.innerHeight,
        width: window.innerWidth,
        backgroundColor: [],
        randomOpacity: true,
    });
    function resizeCanvas() {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    }

    window.addEventListener('resize', resizeCanvas);
</script>
{% endblock %}


{% block content %}
    <canvas id="starback-bg" class="fixed -z-1"></canvas>
    <div class="z-1 relative flex items-center justify-center h-screen">
        <div class="text-center">
            <h1 class="text-4xl text-white font-bold my-5">Gwardia Hub</h1>
            <span>Strona internetowa, która ma służyć pomocą szkolną oraz efektywnym zarządzaniem aktywnościami Gwardii.</span><br/>
            <span class="font-bold">W trakcie programowania!</span>
            <br><br>
            <div class="items-center">
                <a href="https://github.com/Gwardia-Czapli/GwardiaHub" class="hover:text-blue-700 text-gray-400 transition-colors duration-300" target="_blank">
                    <i class="fa-brands fa-github fa-3x mr-5"></i>
                </a>
{#                For now we don't have any Discord to link #}
{#                <a href="https://example.com" class="hover:text-blue-500 text-gray-400 transition-colors duration-300" target="_blank">#}
{#                    <i class="fa-brands fa-discord fa-3x"></i>#}
{#                </a>#}
            </div>
        </div>
    </div>

{% endblock %}