{% extends 'core/base.html' %}
{% load core_extras %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    <div class="mt-32 w-screen flex flex-col items-center justify-center">
        <div class="flex gap-5 w-1/2 pb-4 border-b-2">
            <img src="{{ user.avatar }}" alt="avatar" class="h-auto w-1/8 rounded-full">
            <div class="flex flex-col">
                <h1 class="text-4xl text-bold">{{ user.name }}</h1>
                <div class="flex gap-4 text-gray-500 flex-wrap">
                    {% for role in user.roles %}
                        <p>{{ role }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <h1 class="text-2xl mt-4">Doświadczenie</h1>
        <div class="flex flex-col w-1/2 gap-5">
            <div class="flex gap-5 mt-4 text-purple-500 justify-end">
                <p>Poziom: {{ user.level }}</p>
                <p>Doświadczenie: {{ user.exp }}</p>
            </div>
            <div class="border-2 border-gray-600 rounded-2xl h-[3svh] overflow-hidden w-full">
                <div class="h-full  w-[{{ user.exp|calculate_percentage:user.max_exp }}%]">
                    <div class="bg-fixed bg-gradient-to-r from-[#663dff] from-[0%] via-[#aa00ff] via-[37%] to-[#cc4499] to-[100%] rounded-s-2xl h-full w-full animate-levelBarSlideIn"></div>
                </div>
            </div>
            {# those max values are just placeholders, we will set it while adding lvl handling #}
        </div>
    </div>
{% endblock %}

