{% extends 'core/base.html' %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    <div class="mt-32 w-screen flex flex-col items-center justify-center">
        <div class="flex gap-5 w-1/2 pb-4 border-b-2">
            <img src="{{ user.avatar }}" alt="avatar" class="h-auto w-1/8 rounded-full">
            <div class="flex flex-col">
                <h1 class="text-4xl text-bold">{{ user.name }}</h1>
                <div class="flex gap-4 text-gray-500 flex-wrap">
                    {% for role in user.roles %}
                        <p>{{ role }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="flex flex-col w-1/2 gap-5">
            <div class="flex gap-5 mt-4 text-yellow-500 justify-end">
                <p>Level: {{ user.level }}</p>
                <p>Experience: {{ user.exp }}</p>
            </div>
            <progress class="w-full" value="{{ user.exp }}" max="2137">{{ user.exp }} / 2137</progress>
{#          those max values are just placeholders, we will set it while adding lvl handling#}
        </div>
    </div>
{% endblock %}
